---
import Layout from '../layouts/Layout.astro';
import About from '../components/About.astro'
import Skills from '../components/Skills.astro';
import Projects from '../components/Projects.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="CerianiDev">
	<main>
		<About picSrc='../../public/picProfile.jfif' title='Bautista Ceriani' subTitle='Backend Developer'></About>	
		<Skills></Skills>
		<Projects></Projects>
		<!-- <Contact></Contact> -->
		<Footer></Footer>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		width: 70%;
		font-size: 20px;
		line-height: 1.6;
	}
</style>
