---
import Layout from '../layouts/Layout.astro';
import About from '../components/About.astro'
import Skills from '../components/Skills.astro';
---

<Layout title="CerianiDev">
	<main>
		<About picSrc='../../public/picProfile.jfif' title='Bautista Ceriani' subTitle='Fullstack Developer'></About>	
		<Skills></Skills>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		width: 70%;
		font-size: 20px;
		line-height: 1.6;
	}
</style>
